
  <%- include ("../partials/header") %>
  <div class="container">
      <div class="row mx-auto">
          <div class="col-12 text-center my-2 mx-auto">
             <h2>Let Your Code_Mates Know about u !!</h2>
           </div>
          <span id="new-btn" type="button" class="btn btn-outline-success m-auto">Make another entry</span>
         <form action="/myprofile" method="post" class="col-12">
       <div class="content-box row mt-2 mx-auto">
          <div class="new-entry border col-5 mx-auto mb-5 ">
                 <div class="form-group col-12">
                        <label for="year" class="col-sm-2 col-form-label">year </label>
                        <div class="col-sm-10 year">
                        <input type="text" class="form-control list0" id="year" name="[]" >
                        </div>
                 </div>
    
            
            <div class="form-group col-12">
                <label for="language" class="col-sm-2 col-form-label">Languages Known</label>
                <div class="col-sm-10 language">
                <input type="text" class="form-control list0" id="language" name="language[]">
                </div>
            </div>
              <div class="form-group col-12">
                <label for="tech" class="col-sm-2 col-form-label">Technologies known </label>
                <div class="col-sm-10 tech">
                <input type="text" class="form-control list0" id="tech" name="tech[]">
                </div>
            </div>
             <div class="form-group col-12">
                <label for="com-pro" class="col-sm-2 col-form-label">Project (complete) </label>
                <div class="col-sm-10 com-pro">
                <input type="text" class="form-control list0" id="com-pro" name="com-pro[]">
                </div>
            </div>
             <div class="form-group col-12">
                <label for="com-pro-desc" class="col-sm-2 col-form-label">Description </label>
                <div class="col-sm-10 com-pro-desc">
                    <textarea name="" id="" cols="34" rows="5" class="p-3"></textarea>
                <!-- <textarea type="text" class="form-control list0" id="com-pro-desc" name="com-pro-desc[]"> -->
                </div>
            </div>
             <div class="form-group col-12 ">
                <label for="inc-pro" class="col-sm-2 col-form-label">Project (incomplete) </label>
                <div class="col-sm-10 inc-pro">
                <input type="text" class="form-control list0" id="inc-pro"  name="inc-pro[]">
                </div>
            </div>
            <div class="form-group col-12 ">
                <label for="inc-pro-desc" class="col-sm-2 col-form-label">Description </label>
                <div class="col-sm-10 inc-pro-desc-btn">
                 <textarea name="" id="" cols="34" rows="5" class="p-3"></textarea>
                </div>
            </div>
            <div class="form-group col-12">
                <label for="coding-plat" class="col-sm-2 col-form-label">Coding platforms </label>
                <div class="col-sm-10 coding-plat">
                <input type="text" class="form-control list0" id="coding-plat"  name="coding-plat[]">
                </div>
            </div>
            <div class="form-group col-12">
                <label for="failures" class="col-sm-2 col-form-label">Failures </label>
                <div class="col-sm-10 failure">
                <textarea name="" id="" cols="34" rows="5" class="p-3"></textarea>
                </div>
            </div>
         </div> 
         </div>
        </form>
     </div>
</div>
<script>
    
let count=0;
let count2=1;
let html=$(".content-box").html();

    $("#new-btn").on('click',function () {
          // alert(".list"+count+'list'+count2)
       $('.list'+count).removeClass('list'+count).addClass('list'+count2);
      $(".content-box").append(html)
        $( '.list'+count2).each(function( index ) {
       
                            $(this).attr('name','info'+count2+'[]')
                });
                 
    count++;
    count2++;
    })
    
</script>

  <%- include ("../partials/footer") %>