<%- include ("../partials/header") %>

<div class="accordion container" id="accordionExample" style="padding-top: 5rem;">
  <h1>Top rated opinions</h1>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            First Year
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Languages:<br>
              * C<br>
              * C++<br>
          Technologies:<br>
              * Web Development<br>
              * Cloud Computing<br>
              * Networking<br>
              * Cyber Security<br>
              * Operating System<br>
          Resources:<br>
              * Udemy<br>
              * Coursera<br>
              * Udacity<br>
              * Sololearn<br>
              * Codelabs<br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Second Year
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Languages:<br>
            * Java<br>
            * Python<br>
          Technologies:<br>
            * Android Development<br>
            * Machine Learning<br>
            * Artificial Intelligence<br>
            * Git<br>
          Resources:<br>
            * Udemy<br>
            * Coursera<br>
            * Udacity<br>
            * Sololearn<br>
            * Codelabs<br>
            * Hackerrank<br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Third Year
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          * Internships<br>
          * Projects<br>
          * Competitive exams<br>
          * Hackethons<br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Fourth Year
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          * Projects<br>
          * Exams or Interview Preparation<br>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What after B.tech ?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          * GATE<br>
          * MS<br>
          * M.tech<br>
          * Job<br>
        </div>
      </div>
    </div>

    <h3 style="padding-top: 5rem; padding-bottom: 2rem;">Reviews</h3>
    <% comment.forEach(function(comment){ %>
    <div class="row">
        <div class="col-md-9">
            <p style="text-align: justify; word-wrap: break-word;">
                <%= comment.text %>
            </p>
        </div>
    </div>
    <hr>
    <% }); %>

    <h4 class=form-heading style="text-align: center;">Add New Comment</h1>
    <div style="width: 35%; margin: 25px auto;">
        <form action="/guidance" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="text">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-default btn-block">Submit</button>
            </div>                
        </form>
    </div>

</div>


  <%- include ("../partials/footer") %>