<h1 class="form_top_head">Login</h1>

<div class="container">
    <div class="row">
        <div style="width: 35%; margin: 25px auto;">
            <form action="/auth/login" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-default btn-block">Login</button>
                </div>     
            </form>
        </div>        
    </div>
</div>