<h1>this is homepage</h1>

<%- include ("./partials/header") %>
<div class="container">
    <h1>this is homepage</h1>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <a href="/profile">profile</a>
    <a href="/updateprofile">update profile</a>
</div>
<%- include ("./partials/footer") %>
