<%- include ("./partials/header") %>
<div class="container">
    <h1>this is homepage</h1>
    <a href="/login">login</a><br>
    <a href="/register">register</a><br>
    <a href="/profile">profile</a><br>
    <a href="/profile/new">create profile</a><br>
    <a href="/messages">chat</a>
</div>
<%- include ("./partials/footer") %>
